*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Merriweather Sans', sans-serif;
	background-image: url(./images/workspace-bg.jpg);
	background-size: cover;
}

.custom-body-color{
	background-color: #8DABEB;
}

.custom-text-color{
	color: #EBD64D;
}


.footer{
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	color: white;
  	text-align: center;
}

.contact-me{
	justify-content: space-around;
}

#unordered-list{
	list-style: none;
}